/* My code */

/*Header*/

h1, .intro {
  font-family: "Lobster", cursive;
}

.page-header {
  flex-wrap: wrap;
  overflow: auto;
  display: flex;
  justify-content: space-between;
}

h1 {
  font-size: 45px;
  padding: 10px 10px 0 20px;
}

.intro {
  padding-left: 30px;
}

.logo {
  max-width: 100%;
  max-height: 100%;
  float: left;
  top: 0;
  left: 0;
}

/*End header*/

body {
  background-color: #ddddde;
  width: 100%;
}

.img-responsive {
  align-self: center;
  padding-right: 10px;
}

h2 {
  text-align: center;
  font-size: 30px;
}

h2, .icon-bar {
  font-family: "Contrail One", cursive;
}

/*Content*/

.container {
  max-width: 100%;
  padding: 20px;
  display: flex;
  margin: 10px;
  justify-content: center;
  align-items: flex-start;
  flex-wrap: wrap;
  flex-direction: row;
}

.flex-item {
  border: 5px solid #ddd;
  box-sizing: border-box;
}

.caption {
  background-color: #fff;
  font-family: "Contrail One", cursive;
  font-weight: 700;
  color: #000;
  padding-right: 10px;
  padding-left: 20px;
  text-align: center;
  box-shadow: 0px 15px 20px rgba(0, 0, 0, 0.3);
}

a {
  text-align: center;
  text-decoration: none;
}

.img {
  width: 100%;
  height: auto;
  background-position: center;
  object-fit: cover;
  background-repeat: no-repeat;
}

/* mouse over link */

.img:hover {
  cursor: pointer;
  opacity: 1;
  box-shadow: 0px 15px 20px rgba(0, 0, 0, 0.3);
}

/*End Content*/

/*Footer*/

.container-fluid {
  background-color: #c3c7d5;
  padding: 5px 40px 10px 20px;
  border-radius: 20px;
  margin-bottom: 0;
  display: flex;
  flex-direction: row;
  justify-content: center;
  flex-wrap: nowrap;
}

.footer-item {
  color: #000;
  font-family: "Lobster", cursive;
  text-align: center;
  font-size: 16px;
}

/*Social media icons*/

.icon-bar {
  margin-top: 10px;
  text-decoration: none;
  color: #44515c;
}

ul li {
  list-style-type: square;
  display: inline-block;
  text-align: center;
  align-self: center;
}

ul li a i {
  width: 48px;
  font-size: 40px;
  margin: 5px 10px 0;
  left: 0;
  right: 0;
  bottom: 0;
}

i {
  border-radius: 50px;
  padding: 8px 5px;
}

.fa:hover {
  opacity: 0.7;
  box-shadow: 0px 15px 20px rgba(0, 0, 0, 0.7);
  transition: all 0.5s ease;
  cursor: pointer;
  transform: translateY(-8px) rotate(360deg);
}

/* Set a specific color for each brand */

/* Facebook */

.fa-facebook {
  border: 3px solid #3b5998;
  background-color: #fff;
  color: #3b5998;
  /*Original colors: background: #3b5998;
     color: #fff;
    */
}

/* LinkedIn */

.fa-linkedin {
  border: 3px solid #0077b5;
  background-color: #fff;
  color: #0077b5;
  /*Original colors: background: #0077b5;
     color: #fff;
    */
}

/* CodePen */

.fa-codepen {
  border: 3px solid #000;
  background-color: #fff;
  color: #000;
  /*Original colors: background: #fff;
     color: #000;
    */
}

/* GitHub */

.fa-github {
  border: 3px solid #000;
  background-color: #fff;
  color: #000;
  /*Original colors: background: #000;
     color: #fff;
    */
}

/*End footer*/

@font-face {
  font-family: "Contrail One";
  src: url("Contacts/ContrailOne-Regular.ttf");
}

@font-face {
  font-family: "Lobster";
  src: url("Contacts/Lobster-Regular.ttf");
}

/*Media queries*/

@media screen and (max-width: 732px) {
  li {
    min-width: 45px;
    min-height: 45px;
    margin: 0;
  }
  body {
    width: 100%;
  }
  .img {
    -webkit-background-size: 100% auto;
    -moz-background-size: 100% auto;
    -o-background-size: 100% auto;
    background-size: 100% auto;
  }
  .logo {
    order: 1;
    max-width: 100%;
  }
  .title {
    order: 2;
  }
  .fa {
    width: 25%;
  }
  .page-header {
    justify-content: center;
  }
}

@media only screen and (min-width: 733px) and (max-width: 959px) {
  .img {
    -webkit-background-size: 100% auto;
    -moz-background-size: 100% auto;
    -o-background-size: 100% auto;
    background-size: 100% auto;
  }
  .logo {
    order: 1;
  }
  .title {
    order: 2;
  }
  .flex-item {
    width: 33%;
  }
  .fa {
    width: 25%;
  }
}

@media screen and (min-width: 960px) {
  body {
    width: 100%;
  }
  .img {
    -webkit-background-size: 100% auto;
    -moz-background-size: 100% auto;
    -o-background-size: 100% auto;
    background-size: 100% auto;
  }
  .logo {
    order: 1;
  }
  .title {
    order: 2;
  }
  .flex-item {
    width: 33%;
  }
}
